.howWeCanHelpYouContainer{
    background-image: url(../public/images/img-25.png);
    background-repeat: no-repeat;
    background-position: bottom left 43px;
    background-size: 14%;
    text-align: center;
    padding-bottom: 0;
    

    &:after{
        background-image: url(../public/images/img-24.png);
        position: absolute;
        content: "";
        right: 108px;
        top: 2px;
        width: 800px;
        z-index: -1;
        height: 800px;
        background-size: cover;
    }
    
}
.howWeCanHelpYouContainerInner{
    h1{
        margin-top: 30px;
    }
    >p {
        padding: 0 222px;
        margin-top: 18px;
    }
}
.faqTabContent{
    margin-top: 30px;
    padding: 0 250px;
    h3{
        border-bottom: 1px solid #E8E8E8;
        display: inline-flex;
        padding-bottom: 13px;
        margin-bottom: 20px;
        font-size: 25px;
    }
    p{
       
        margin-bottom: 80px;
    }
}
// .moreAboutProjectMappingForFaq{
//     background-image: url(../public/images/img-24.png);
//     background-repeat: no-repeat;
//     background-position: top right 43px; 
//     background-size: 14%;
// }
@media(max-width:800px){
  
    .howWeCanHelpYouContainerInner h1 {
        margin-top: 57px;
    }
    .faqTabContent {
        padding: 0;
    }
    .howWeCanHelpYouContainerInner > p {
        padding: 0;
        margin-top: 18px;
    }
   
    
}
@media(max-width:767px){
   
   
}