.vrFlimsContainer1Box {
  display: flex;
  align-items: center;
  
}
.vrFlimsContainer1Img {
  width: 40%;
}
.vrFlimsContainer1Content {
  width: 60%;
  padding-left: 80px;
  padding-right: 30px;
  h2 {
    margin-bottom: 15px;
  }
}
.vrFlimsContainer1BoxRe {
    margin-top: 50px;
  .vrFlimsContainer1Content {
    width: 60%;
    padding-right: 80px;
    padding-left: 0;
    h5 {
      color: #3ec0b9;
    }
  }
}
.vrFlimsContainer2Box {
  text-align: center;
  h2{
      margin-bottom: 30px;
  }
}
.vrFlimsContainer2Img {
  > div {
    width: 35% !important;
  }
}
.vrFlimsContainer2Content{
    p{
        margin-top: 30px;
        padding: 0 300px;
    }
}
.vrFlimsContainer3Box{
    text-align: center;
    background-color: #444444;
    padding: 50px 100px;
    border-radius: 10px;
    color:#fff;
    h2{
        margin-bottom: 15px;
    }
}

@media(max-width:800px){
  .vrFlimsContainer2Content p {
    padding: 0 0;
}
}

@media(max-width:767px){
  .vrFlimsContainer1Box{
    flex-direction: column;
  }
  .vrFlimsContainer1Img{
    width: 100%;
  }
  .vrFlimsContainer1Content{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .vrFlimsContainer2Content p {
    margin-top: 30px;
    padding: 0;
}
.vrFlimsContainer2Img > div {
  width: 60% !important;
}
.vrFlimsContainer3Box{
  padding: 30px;
}
.vrFlimsContainer1BoxRe .vrFlimsContainer1Content{
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  padding-top: 23px;
}
.vrFlimsContainer1BoxRe {
  margin-top: 14px;
}
}