.eventsTopContainer {
  background: url(../public/images/events-4.png);
  background-repeat: no-repeat;
  background-position: left 44px top 179px;
  background-size: 31% auto;
  padding-bottom: 0;
}

.eventsTopBox {
  display: flex;
  align-items: center;
}

.eventsBottomContainer {
  background: url(../public/images/img-55.png);
  background-repeat: no-repeat;
  background-position: left 44px top 149px;
  background-size: 77% 83%;
}
.eventsTopImg {
  width: 50%;
}
.eventsTopInfo {
  width: 50%;
}
.eventsTopImg2 {
  position: relative;
  top: -13px;
  right: -223px;
}
.eventsTopImg3 {
  position: relative;
  margin-top: -82px;
  right: 84px;
  margin-bottom: 33px;
}
.EventsTitleWrap {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}
.EventsTitleLeft {
  width: 40%;
  > div {
    border-radius: 200px 0 0 0;
  }
}
.EventsTitleRight {
  width: 60%;
  padding-left: 60px;
  h2 {
    padding-right: 108px;
    background: rgb(174, 103, 250);
    background: linear-gradient(
      100deg,
      rgba(174, 103, 250, 1) 0%,
      rgba(244, 152, 103, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
  }
}
.eventsBottomContentBox {
  display: flex;
}
.eventsBottomContentLeft {
  width: 70%;
  padding-right: 60px;
  h5 {
    font-weight: 700;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 15px;
    margin-bottom: 24px;
  }
}
.eventsBottomContentRight {
  width: 30%;
  > div {
    border-radius: 0 0 200px 0;
  }
}
.thevalueText{
  margin-bottom: 0;
}

.retailsIframeWrap{
  padding-bottom:60px;
  margin-top: 60px;
}
@media(max-width:1100px){
    .eventsTopInfo{
        padding-left: 48px;
    }
    .eventsBottomContainer{
        padding-top: 0;   
       }
}
@media(max-width:900px){
    .eventsTopImg{
        width: 30%;
    }
    .eventsTopInfo{
        width: 70%;
        padding-left: 100px;
    }
    .eventsTopImg2{
        right: -67px;
    }
    .eventsTopBox{
        margin-top: 52px;
    }
    
}
@media (max-width: 767px) {
  .eventsTopBox {
    flex-direction: column;
  }
  .eventsTopImg {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 10px; */
    order: 2;
    justify-content: center;
    >div{
      width: 100%;
      img{
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
  .eventsTopInfo {
    width: 100%;
    order: 1;
    padding-top: 0;
    padding-left: 0;
  }
  .eventsTopImg2 {
    right: 0;
    top: 0;
  }
  .eventsTopImg3 {
    margin-top: 0;
    margin-bottom: 12px;
    right: 0;
  }

  .EventsTitleWrap{
  
    margin-bottom: 50px;
    flex-direction: column;
}
.EventsTitleLeft{
    width: 100%;
    margin: 20px 0;
}
.EventsTitleRight{
    width: 100%;
    padding-left: 0;
    padding-top: 23px;
    h2{
        padding-right: 0;
    }
}
.eventsBottomContentBox{
    flex-direction: column;  
}
.eventsBottomContentLeft{
    width: 100%;  
    padding-right: 0;
}
.eventsBottomContentRight{
    width: 100%;  
}
.eventsTopContainer{
background:none ;
}
}
