@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400&family=Rubik:wght@400;500;600;700&display=swap");

/* 
<img src="/images/logo.png" alt="Spaceshift"/>

import googleStreetviewImg from "../public/images/google-street-header-banner.png";

<Image src={aboutVideo} alt="Spaceshift" />

<br></br>

<div className={stylesTourism.whatWeOfferTitle}></div>

   <section className={stylesEvents["stylesTourism"] + " " + "blockPadding"} >
        <Container>
          <Row>
            <Col lg="7">
             </Col>
          </Row>
        </Container>
      </section>

 */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif !important;
  /* font-family: 'Rubik', sans-serif; */
}
p {
  font-family: "Karla", sans-serif;
  font-weight: 300;
  font-size: 17px;
}
.globalWrap h1 {
  font-size: 45px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}
.globalWrap h2 {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-weight: 600;
}
.globalWrap p b{
  font-weight: 800;
}
.globalWrap h3 {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 500;
}
.globalWrap img {
  max-width: 100% !important;
  /* width: 100%; */
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
a:hover {
  color: #3ec0b9 !important;
}

/* //GLobal class */
.seeMoreBt {
  border: 1px solid #3ec0b9;
  padding: 8px 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #3ec0b9;
  margin-top: 19px;
  text-decoration: none;
}
.seeMoreBt:hover {
  background-color: #3ec0b9;
}
.seeMoreBt:hover img {
  filter: brightness(0) invert(1);
}

.seeMoreBt:hover p {
  color: #fff;
}
.seeMoreBt p {
  margin: 0;
  text-transform: uppercase;
  margin-right: 7px;
}
.coloredBt {
  background: rgb(255, 2, 102);
  background: linear-gradient(
    90deg,
    rgba(255, 2, 102, 1) 0%,
    rgba(91, 96, 207, 1) 100%
  );
  padding: 11px 22px;
  display: inline-flex;
  color: #fff;
  text-decoration: unset;
  font-size: 16px;
  text-transform: uppercase;
}
.blockPadding {
  padding: 60px 0;
}
.tinyTitle h5 {
  font-size: 22px;
  font-family: "Rubik", sans-serif;
}
.tinyTitle {
  position: relative;
  margin-bottom: 30px;
  display: inline-flex;
}
.tinyTitle:after {
  content: "";
  width: 40px;
  height: 2px;
  background: #3ec0b9;
  position: absolute;
  bottom: 0;
  left: 0;
}
.innerPageHeaderTitle {
  width: 600px;
  padding: 25px 48px;
  border-radius: 10px;

  position: relative;
  z-index: 99;
  background: #fff;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.34);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.34);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.34);
  margin-top: -95px;
  text-align: center;
}
.innerPageHeaderWrap img {
  width: 100%;
}

/* //TAB STYLE */
.react-tabs__tab {
  padding: 0 !important;
  border: 0 !important;
  width: 17%;
}

.react-tabs__tab--selected {
  background: none !important;
  border: none !important;
  color: black !important;
  border-radius: 5px 5px 0 0;
  color: #3ec0b9 !important;
}

.react-tabs__tab .whyGViewTabTitle span {
  border-top: 1px solid #ccc;
  padding: 15px 0;
  margin-top: 15px;
  padding-right: 54px;
  text-align: left;
}
.react-tabs__tab--selected .whyGViewTabTitle span {
  border-top: 1px solid #3ec0b9;
}
.react-tabs__tab--selected .whyGViewTabTitle svg path {
  fill: #3ec0b9;
}
.react-tabs__tab-list {
  border: none !important;
  margin-bottom: 0 !important;
}
.tabContentMain {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 50px;
}
.tabContentMainInner {
  width: 84%;
  display: flex;
}
.tabContentLeftCol {
  padding-right: 160px;
  text-align: left;
  width: 60%;
}
.tabContentLeftCol p {
  margin-top: 15px;
}
.tabContentLeftColImg > div {
  height: 100%;
}
.tabContentLeftColImg img {
  width: 100%;
}
.whyGViewTabWrap {
  padding: 50px 0 0;
}
/* //TAB STYLE END */

/* //TAB 2 */
.moreAboutProjectMapping .react-tabs__tab {
  border-bottom: 1px solid #ccc !important;
  padding: 15px 46px !important;
}

.moreAboutProjectMapping .react-tabs__tab--selected {
  border-bottom: 1px solid #3ec0b9 !important;
  font-weight: 600;
}
.moreAboutProjectMappingTabContent .react-tabs__tab-panel {
  margin: 0 102px;
}
.moreAboutProjectMappingTabContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 40px; */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(73, 25, 25, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(5, 1, 1, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.15);
}
.moreAboutProjectMappingTabContentImg {
  width: 40%;
  padding: 0 80px 0 0;
}
.moreAboutProjectMappingTabContentImg > div {
  height: 100%;
  display: flex !important;
}
.moreAboutProjectMappingTabContentText {
  width: 60%;
  padding-right: 100px;
  text-align: left;
}
.moreAboutProjectMapping .react-tabs__tab:focus {
  box-shadow: unset !important;
  border-bottom: 1px solid #3ec0b9 !important;
}

.whyGViewTabTitle {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.navBarTop {
  justify-content: flex-end;
}
.navBarTop .me-auto {
  margin-right: 0 !important;
}
.navbar-nav .nav-link {
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
  /* height: 48px; */
  min-width: 60px;
  text-align: center;
}
.navbar {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.17);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.17);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.17);
}
.newsletterForm .form-control {
  height: 45px;
  background-color: red;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  display: inline-block;
  background: rgb(255, 2, 102);
  background: linear-gradient(
    90deg,
    rgba(255, 2, 102, 1) 0%,
    rgba(91, 96, 207, 1) 100%
  );
  padding-left: 16px;
}
.nav-pills .nav-link {
  color: #fff;
  border-radius: 0 !important;
  font-family: "Karla", sans-serif;
  /* margin-bottom: 11px; */
  padding-left: 0;
  font-size: 20px;
}
.innerPageHeaderWrap.black-bg {
  background-color: #343434;
}
.innerPageHeaderTitle.black-bg {
  background-color: #4d4d4d;
  color: #fff;
}

.accordion-item {
  margin-bottom: 15px !important;
  border: none !important;
  background-color: #f6f8fb !important;
  border-radius: 10px !important;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.11);
  -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.11);
  box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.11);
}
.accordion-button {
  background-color: #f6f8fb !important;
  box-shadow: unset !important;
  border-radius: 10px !important;
  color: #546172 !important;
  font-weight: 600;
}
.accordion-body {
  background-color: #fff !important;
}
.accordion-button:not(.collapsed) {
  background-color: #fff !important;
  color: #0f2137 !important;
}
.accordion-button::after {
  background-image: url(../public//images/right-arrow-small.png) !important;
  background-size: 17px auto !important;
}

.alice-carousel__stage-item {
  overflow: hidden;
  height: 290px !important;
  padding-right: 10px !important;
  /* margin-right: 10px !important; */
}
.alice-carousel__stage-item {
}
.alice-carousel__stage-item.__active.__target {
  height: 100% !important;
  overflow: hidden;
}
.alice-carousel__stage-item.__active.__target .indusTabBoxImageInfoNew {
  opacity: 1;
}
.alice-carousel__stage-item {
  height: unset;
}
.undertakenImgWrap {
  position: relative;
}
.indusTabBoxImageInfoNew {
  position: absolute;
  bottom: 11px !important;
  left: 10px;
  width: 72%;
  opacity: 0;
}
/* .alice-carousel__prev-btn {
  position: relative;
  top: -109px;
} */
.alice-carousel__next-btn {
  position: absolute;
  top: 35%;
  width: auto !important;
  right: 207px;
  z-index: 999;
}
.alice-carousel__prev-btn {
  position: absolute !important;
  top: 35% !important;
  width: auto !important;
  right: 235px;
  z-index: 999;
}
.alice-carousel__prev-btn [data-area]::after{

}
.alice-carousel__prev-btn{
  margin-right: 15px;
}
.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
  font-size: 25px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 80px;
  line-height: 22px;
  text-align: center;
  color: #3EC0B9 !important;
}
.alice-carousel__dots{
  display: none;
}

.innerPageHeaderWrap {
  margin-top: 64px;
}
.modalClose{
  position: absolute;
  background: none !important;
  height: 50px;
  width: 50px;
  z-index: 99;
  border: none !important;
  right: -42px;
  top: -34px;

}
.modalClose:focus{
  outline: none;
}
.modalClose img{
  width: 100%;
}
@media (min-width: 1400px) {
  .globalWrap .container {
    max-width: 1200px !important;
  }
}

@media (max-width: 1100px) {
  .tabContentLeftCol {
    padding-right: 40px;
  }
  .moreAboutProjectMappingTabContentText p {
    margin-bottom: 0;
  }
  .moreAboutProjectMapping .react-tabs__tab {
    padding: 15px 42px !important;
  }
  .moreAboutProjectMappingTabContentText {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .indusTabBoxImageInfoNew{
    width:70%
  }
  .alice-carousel__prev-btn{
    right: 35px;
  }
  .alice-carousel__next-btn{
    right: 10px;
  }
}

@media (max-width: 800px) {
  .blockPadding {
    padding: 60px 5px;
  }
  .aboutUsVideo {
    margin-top: 60px;
  }
  .globalWrap h2 {
    font-size: 24px;
  }
  /* .globalWrap h1 {
  font-size: 29px;
} */
  .innerPageHeaderTitle {
    width: 90%;
    padding: 25px;
  }
  .react-tabs__tab-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: baseline;
    justify-content: center;
  }
  .whyGViewTabWrap {
    padding: 50px 8px 0;
  }
  .tabContentMain {
    justify-content: flex-start;
  }
  .tabContentMainInner {
    width: 100%;
  }
  .tabContentLeftCol {
    padding-right: 0;

    padding: 0 15px;
  }
  .innerPageHeaderWrap {
    margin-top: 66px;
  }
  .moreAboutProjectMapping .react-tabs__tab {
    white-space: nowrap;
  }
  .indusTabBoxImageInfoNew{
    width:70%
  }
  .react-tabs__tab{
    width: auto;
  }
}

@media (max-width: 767px) {
  .flex-column.nav.nav-pills {
    flex-direction: row !important;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 30px;
  }
  .nav-link {
    width: auto;
    margin-right: 15px;
    text-align: left;
    white-space: nowrap;
  }
  .react-tabs__tab-list {
    justify-content: flex-start;
  }
  .react-tabs__tab {
    white-space: nowrap;
  }
  .tabContentLeftCol {
    width: 100%;
  }
  .tabContentMainInner {
    width: 100%;
    flex-direction: column;
  }
  .moreAboutProjectMappingTabContent {
    flex-direction: column;
  }
  .moreAboutProjectMappingTabContentImg {
    width: 100%;
    padding: 0;
  }
  .moreAboutProjectMappingTabContentText {
    width: 100%;
    padding-right: 0;
    padding-top: 20px;
    padding: 12px;
  }
  .faqTab .react-tabs__tab-list {
    justify-content: center !important;
  }
  .faqTab .react-tabs__tab {
    bottom: 0;
  }
  .react-multiple-carousel__arrow {
    bottom: 12px !important;
  }
  .globalWrap h1 {
    font-size: 29px;
  }

  .alice-carousel__prev-btn{
    right: 18px;
  }
  .alice-carousel__next-btn{
    right: 0;
  }
  .indusTabBoxImageInfoNew{
    width:70%
  }
  .modalClose {
    position: absolute;
    background: #000 !important;
    height: 40px;
    width: 40px;
    z-index: 99;
    border: none !important;
    right: 0;
    top: 0;
    background: red;
    border-radius: 80px !important;
    padding: 5px !important;
}
}

/* .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkuOTk5OTk5OTk5OTk5OTk2IiBoZWlnaHQ9IjI5Ljk5OTk5OTk5OTk5OTk5NiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCiA8Zz4KICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+CiAgPHBhdGggZmlsbD0ibm9uZSIgaWQ9InN2Z18xIiBkPSJtNCw0LjMzMzM0bDIyLDBtLTIyLDhsMjIsMG0tMjIsOGwyMiwwIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2U9IiNmZmZmZmYiLz4KIDwvZz4KPC9zdmc+") !important;
} */
.navbar-light .navbar-toggler {
  color: #d51c4d;
}
.navbar-toggler {
  padding: 0 !important;
}
.navbar-toggler:focus {
  box-shadow: unset !important;
}
