.topPart {
  padding: 230px 0 125px 0;

  p {
    margin-top: 25px;
  }
}
.topPartContainer {
  background: url(../public/images/home-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50% auto;
}
.aboutUsContainer {
  background-color: #343536;
  color: #fff;
  background-image: url(../public/images/about-us-bg.png);
  background-repeat: no-repeat;
  background-position: center right 61px;
  background-size: 24% auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.aboutUscontent {
  h2 {
    margin-bottom: 30px;
  }
  p {
    color: #a3a3a3;
    margin-bottom: 30px;
  }
}
.aboutUsVideo {
  //margin-top: 130px;
}
.whatWeOfferTitle {
  h2 {
    margin-bottom: 30px;
    span {
      color: #00e4d8;
    }
  }
}
.whatWeOfferBox {
  width: 100%;
  a {
    margin-top: 15px;
  }
  > div {
    width: 100%;
  }
  img {
    width: 100%;
  }
  h3 {
    margin-top: 20px;
  }
  p {
    padding-right: 25px;
  }
}
.whatWeOfferBoxMain .whatWeOfferCol6 {
  padding-right: 60px;
}
.whatWeOfferBoxMain .whatWeOfferCol6:nth-child(2n) {
  padding-left: 60px;
  padding-right: 0;
  padding-top: 70px;
}
.industriesContainer {
  background-color: #343536;
  color: #fff;
}
.indusTabBox {
  padding-left: 100px;
  margin: 50px 50px 0;
  margin-top: 0;
  position: relative;
}
.indusTabBoxImage {
  position: relative;
  img {
    width: 100%;
  }
}
.indusTabBoxImageInfo {
  position: absolute;
  right: -19px;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 12px 21px;
  bottom: -11px;
  display: flex;
  flex-direction: column;
  span {
    font-size: 14px;
  }
  .projectName {
    font-weight: 700;
    font-size: 20px;
  }
}

.indusTabBoxBg {
  position: absolute;
  right: -92px;
  top: -60px;
}

.newsletterContainer {
  background: #383636 url(../public/images/newsletter-bg.png);
  // background: rgb(48,48,48);
  // background: linear-gradient(90deg, rgba(48,48,48,1) 0%, rgba(80,77,77,1) 100%);

  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}
.manyReasonBox {
  padding: 25px 25px 48px;
  border-radius: 5px;
  background-color: #3ec0b9;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  p {
    padding: 15px 162px;
    font-size: 25px;
  }
}
.manyReasonBoxForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  input {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.489);
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    width: 250px;
    margin: 0 5px;
  }
  button {
    height: 40px;
    background-color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 0 33px;
    &:hover {
      background-color: #000000;
    }
  }
}

.submitBt {
  height: 40px;
  background-color: #000000 !important;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  border-radius:5px;
  padding: 0 33px;
  &:hover {
    background-color: #000000;
  }
}

.manyReasonBoxForm input:focus {
  background-color: rgba(255, 255, 255, 0.489) !important;
  box-shadow: unset !important;
  color: #fff !important;
  border-color: rgba(255, 255, 255, 0.489) !important;
  outline: unset;
}
.manyReasonBoxForm input::placeholder {
  color: #fff !important;
  opacity: 1;
}
.testimonialBox {
  background-color: #2d6a67;
  padding: 25px;
  width: 370px;
  p {
    color: #fff;
    margin: 0;
  }
}
.testimonialAuthor {
  display: flex;
  align-items: center;
  margin-top: 51px;
}
.testimonialAuthorImgBox {
  height: 60px;
  width: 60px;
  border-radius: 80px;
  overflow: hidden;
  margin-right: 30px;

  > div {
    width: 100%;
    height: 100%;
  }
}
.testimonialAuthorname {
  position: relative;
  padding-left: 0;
  &:before {
    content: "";
    position: absolute;
    background-image: url(../public/images/testi-line.jpg);
    background-repeat: no-repeat;
    left: -14px;
    top: 0;
    width: 2px;
    height: 100%;
    margin-right: 25px;
    background-size: cover;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin: 0;
  }
}
.carouselWrap {
  padding-left: 0;
}
.testimonialsContainer {
  padding-left: 150px;
}
.topPartContainerForHome {
  background-position: top 65px right;
  .topPart {
    padding: 270px 0 185px 0;
  }
}
.testimonialsContainer {
  .container {
    margin: 0;
  }
}
.projectUndertakenBox {
  display: flex;
  align-items: flex-start;
}
.projectUndertakenBox1 {
  width: 30%;
  p {
    display: block;
  }
}
.projectUndertakenBox2 {
  width: 70%;
  padding-left: 50px;
}
.projectUndertakenContainer {
  background-color: #d2efee;
}
.topPart p{
  font-size: 25px;
}
.aboutUscontentM{
  display: flex;
  align-items: center;
}

@media (min-width: 1500px) {
  .testimonialsContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0;
  }
}

@media(max-width:1100px){
  .projectUndertakenBox1 {
    width: 50%;
}
.projectUndertakenBox2 {
  width: 50%;
 

}

}
@media (max-width: 800px) {
  .whatWeOfferBoxMain .whatWeOfferCol6 {
    padding-right: 0;
  }
  .topPartContainer {
    background-size: 100% auto;
  }
  .topPart {
    padding: 120px 0 40px 0;
  }

  .whatWeOfferBox a {
    margin-top: 15px;
    margin-bottom: 60px;
  }
  .whatWeOfferBoxMain {
    // padding: 0 15px;
  }

  .whatWeOfferContainer {
    padding-bottom: 4px;
  }
  .indusTabBox {
    padding-left: 0;
    margin: 0;
    margin-top: 0;
  }
  .manyReasonBox {
    padding: 25px 0;
    width: 100%;
  }
  .manyReasonBox p {
    padding: 15px;
  }
  .manyReasonBoxForm {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
  .manyReasonBoxForm input{
    margin-bottom: 15px;
    width: 100%;
  }
  .indusTabBoxImageInfo {
    right: 0;
  }
  .indusTabBoxBg {
    right: 0;
  }
  .testimonialsContainer {
    padding-left: 0;
  }

}

@media (max-width: 767px) {
  .whatWeOfferBoxMain .whatWeOfferCol6 {
    padding-right: 0;
    padding-left: 0;
  }
  .whatWeOfferBoxMain .whatWeOfferCol6:nth-child(2n) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .indusTabBoxBg {
    display: none;
  }
  .testimonialBox {
    width: 100%;
    margin-right: 0;
    padding-bottom: px;
  }
  .testimonialsContainer {
    padding-left: 0;
    padding-right: 0;
  }
  .whatWeOfferBoxMain {
    padding: 0 13px;
  }
  .projectUndertakenBox{
    flex-direction: column;
  }
    .projectUndertakenBox1 {
      width: 100%;
  }
  .projectUndertakenBox2 {
    width: 100%;
    padding-left: 0;
    padding-top: 25px;
  }
}
