.industriesTopPadding {
  margin-top: 35px;
}
.industriesTopPadding2{
    padding-top: 100px !important;
}
.educationBox {
  text-align: center;
  h2 {
    margin-bottom: 0;
  }
  p {
    margin: 26px 0 37px 0;
  }
}
.highlightContainer {
  padding-top: 0;
}
.highlightBox {
  display: flex;
  align-items: center;
  .highlightBoxImg {
    width: 40%;
  }
  .highlightBoxContent {
    width: 60%;
    padding-left: 50px;

    > div {
      margin-top: 25px !important;
    }
  }
}
.traveltBox{
.highlightBoxContent{
    padding-left: 0;
    padding-right: 50px;
}
}
.benefitContainer {
  border-radius: 40px 40px 0 0;
  background: rgb(220, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(220, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../public/images/education-pattern.png);
    width: 327px;
    height: 636px;
    z-index: 9;
  }
  &:before {
    content: "";
    position: absolute;
    top: -38px;
    left: 0;
    background: url(../public/images/education-pattern-2.png);
    width: 161px;
    height: 373px;
    z-index: 9;
  }
}
.benefitTitle {
    margin-bottom: 55px;
  h2 {
   
    padding-right: 50%;
    position: relative;
    z-index: 99;
  }
  p{
    margin-top: 37px;
  }
}
.benefitBox {
  margin-bottom: 30px;
  span {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 80px;
    color: #7b61ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
  }
  h4 {
    margin: 23px 0 15px;
    font-weight: 600;
  }
}
.benefitList {
  .benefitListInner:nth-child(1n) {
    padding-right: 50px;
  }
  .benefitListInner:nth-child(2n) {
    padding-left: 50px;
    padding-right: 0;
  }
}
.travelHosTitle{
    h1{
        margin-bottom: 30px;
    }
}
.travelContentP{
    padding:30px 0;
    text-align: center;
}
.travelBottomImg > div{
  height: 100% !important;
  display: block !important;
}

.restaurantsImgWrap{
  display: flex;
  justify-content: space-between;
  .restaurantsImgCol1{
    width: 45%;
  }
}

.eduBotContainer{
  background: #fff;
  padding-top: 0;
  &:after {
    display: none;
  }
  &:before {
    display: none;
  }
}


.whatWeOfferBoxMain .whatWeOfferCol6 {
  padding-right: 60px;
 
 
  h3{
      font-size: 25px;
      text-align: center;
  }
}
.whatWeOfferBoxMain .whatWeOfferCol6:nth-child(2n) {
  padding-left: 60px;
  padding-right: 0;
  padding-top: 70px;
}
.whatWeOfferBox{
    p{
      margin-bottom: 32px;
    }

    span{display: inline-flex;
      align-self: center;
      position: relative;
      padding-left: 41px;
      margin-bottom: 10px;
      
        h5{
          color: #3ec0b959;
          position: absolute;
          top: -43px;
          font-size: 57px;
          left: 0;
          //z-index: -1;
        }
    }
}
.retailBottomTitle{
    margin-bottom: 100px;
}

@media(max-width:1100px){
  .hospitalsTopContent {
    padding-top: 12px;
}
.whatWeOfferBox span {
  margin-top: 31px;
}
.whatWeOfferBoxMain .whatWeOfferCol6 h3 {
  font-size: 25px;
  text-align: left;
}
}
@media(max-width:900px){
  .benefitList .benefitListInner:nth-child(1n) {
    padding-right: 0;
}
.benefitList .benefitListInner:nth-child(2n) {
  padding-right: 15px;
  padding-left: 15px;
}
.educationBox{
  margin-top: 29px;
  text-align: left;
} 
.hospitalsTopContent{
  padding-top: 57px;
}
.hospitalsTopContainer{
  padding-bottom: 11px;
}


.whatWeOfferBoxMain .whatWeOfferCol6{
  padding-right: 30px;
  /* padding-top: 50px; */
}
.whatWeOfferBoxMain .whatWeOfferCol6:nth-child(2n) {
  padding-left: 30px;
}

}
@media(max-width:767px){

  .highlightBox{
    flex-direction: column;
  }
  .highlightBox .highlightBoxImg{
    width: 100%;
    margin-top: 13px;
  }
  .highlightBox .highlightBoxContent{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
   margin-top: 29px;
  }
  .traveltBox .highlightBoxContent{
   margin-top: 0;
  }
  .benefitTitle h2{
    padding-right: 0;
  }
  

.benefitList{
  position: relative;
  z-index: 999;
}
.educationBox p {
  margin: 26px 0 0 0;
}
.restaurantsImgWrap{
  margin-top: 34px;
}
.highlightBoxContent p{
//margin-top: 25px;
}
.industriesTopPadding2{
  padding-top: 86px !important;
}
.travelHosTitle h1 {
  margin-bottom: 8px;
}
.industriesTopPadding2 {
  padding-bottom: 0;
}
.industriesTopPadding {
  margin-top: 35px;
  padding-bottom: 0;
  text-align: left;
}
.educationBoxImg{
  margin-top: 25px;
}
.highlightBoxContent p{
  margin-top: 26px;
}


.whatWeOfferBoxMain .whatWeOfferCol6 {
  padding-right: 10px;
  margin-top: 52px;
}
.whatWeOfferBoxMain .whatWeOfferCol6:nth-child(2n) {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
}

.benefitTitle{
  margin-bottom: 0;
}

.retailTopContainer{
  padding-bottom: 10px;
}
}